.footer{
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .footer_left {
    img {

    }
  }
  .footer_mid{
    ul li {

    }
  }
  .footer_right{
    ul li {
      
    }
  }
}